- var mac = require("./jadehelpers")
- var tb = new mac.TabBar("checkBoxes", 3)
#checkBoxes.slider_section.hide
  table.fill(cellpadding='0', cellspacing='0', summary='Tab Table')
    tr(id = tb.trId())
      td(id=tb.tdId(1), class=tb.classesFirst(), onclick= tb.sel(1))
        | NORMAL
      td(id=tb.tdId(2), class=tb.classes(), onclick= tb.sel(2))
        | INACTIVE
      td(id=tb.tdId(3), class=tb.classesLast(), onclick= tb.sel(3))
        | GROUPED
    
  // Tab Control Content
  #checkBoxesTabControlContent
    #checkBoxesTab_1_content.show
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 1
            td.checkable_item_cell_right
              input(type='checkbox', checked='checked')
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 2
            td.checkable_item_cell_right
              input(type='checkbox')
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 3
            td.checkable_item_cell_right
              input(type='checkbox', checked='checked')
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 4
            td.checkable_item_cell_right
              input(type='checkbox')
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 5
            td.checkable_item_cell_right
              input(type='checkbox')
    #checkBoxesTab_2_content.hide
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 1
            td.checkable_item_cell_right
              input(type='checkbox', disabled='disabled', checked='checked')
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 2
            td.checkable_item_cell_right
              input(type='checkbox', disabled='disabled')
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 3
            td.checkable_item_cell_right
              input(type='checkbox', disabled='disabled', checked='checked')
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 4
            td.checkable_item_cell_right
              input(type='checkbox', disabled='disabled')
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 5
            td.checkable_item_cell_right
              input(type='checkbox', disabled='disabled')
    #checkBoxesTab_3_content.hide
      .featured_list_item Group 1
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 1-1
            td.checkable_item_cell_right
              input(type='checkbox', checked='checked')
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 1-2
            td.checkable_item_cell_right
              input(type='checkbox', checked='checked')
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 1-3
            td.checkable_item_cell_right
              input(type='checkbox')
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 1-4
            td.checkable_item_cell_right
              input(type='checkbox')
      .featured_list_item Group 2
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 2-1
            td.checkable_item_cell_right
              input(type='checkbox', checked='checked')
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 2-2
            td.checkable_item_cell_right
              input(type='checkbox', checked='checked')
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 2-3
            td.checkable_item_cell_right
              input(type='checkbox')
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 2-4
            td.checkable_item_cell_right
              input(type='checkbox')
