- var mac = require("./jadehelpers")
#radioButtons.slider_section.hide
  - var tb = new mac.TabBar("radioButtons", 3)

  table.fill(cellpadding='0', cellspacing='0', summary='Tab Table')
    tr(id = tb.trId())
      td(id = tb.tdId(1), class=tb.classesFirst(), onclick= tb.sel(1))
        | NORMAL
      td.tab.tab_3_tabs.tab_not_selected(id=tb.tdId(2), onclick=tb.sel(2))
        | INACTIVE
      td.tab.tab_3_tabs_right.tab_not_selected(id=tb.tdId(3), onclick=tb.sel(3))
        | GROUPED
  // End Tab Control
  // Tab Control Content
  #radioButtonsTabControlContent
    .show(id = tb.contId(1))    
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 1
            td.checkable_item_cell_right
              input(type='radio', name='tab_group_1', checked='checked')
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 2
            td.checkable_item_cell_right
              input(type='radio', name='tab_group_1')
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 3
            td.checkable_item_cell_right
              input(type='radio', name='tab_group_1')
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 4
            td.checkable_item_cell_right
              input(type='radio', name='tab_group_1')
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 5
            td.checkable_item_cell_right
              input(type='radio', name='tab_group_1')
    .hide(id = tb.contId(2))
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 1
            td.checkable_item_cell_right
              input(type='radio', name='tab_group_2', disabled='disabled', checked='checked')
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 2
            td.checkable_item_cell_right
              input(type='radio', name='tab_group_2', disabled='disabled')
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 3
            td.checkable_item_cell_right
              input(type='radio', name='tab_group_2', disabled='disabled')
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 4
            td.checkable_item_cell_right
              input(type='radio', name='tab_group_2', disabled='disabled')
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 5
            td.checkable_item_cell_right
              input(type='radio', name='tab_group_2', disabled='disabled')
    .hide(id = tb.contId(3))
      .featured_list_item Group 1
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 1-1
            td.checkable_item_cell_right
              input(type='radio', name='tab_group_3_1', checked='checked')
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 1-2
            td.checkable_item_cell_right
              input(type='radio', name='tab_group_3_1')
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 1-3
            td.checkable_item_cell_right
              input(type='radio', name='tab_group_3_1')
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 1-4
            td.checkable_item_cell_right
              input(type='radio', name='tab_group_3_1')
      .featured_list_item Group 2
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 2-1
            td.checkable_item_cell_right
              input(type='radio', name='tab_group_3_2', checked='checked')
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 2-2
            td.checkable_item_cell_right
              input(type='radio', name='tab_group_3_2')
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 2-3
            td.checkable_item_cell_right
              input(type='radio', name='tab_group_3_2')
      .checkable_list_item
        table.fill(cellpadding='0', cellspacing='0')
          tr
            td.checkable_item_cell_left Item 2-4
            td.checkable_item_cell_right
              input(type='radio', name='tab_group_3_2')
